<head>
<style>
h1{
  color: #a30b0b;
  font-size: 40px;
  margin:auto;
  font-family: fantasy;;
}
h2{
  font-size: 36px;
  text-align: center;
  font-family: fantasy;
}
h3{
  font-size: 20px;
  font-family: cursive;
  color: #ffffff;
}
h4{
  margin-top: 30px;
  text-align: center;
}
h5{
  font-size: 36px;
  margin-top: 30px;
  margin-left: 30px;
  text-align: left;
  font-family: fantasy;
}
iframe.iframe{
  margin-left: auto;
  margin-right: auto;
}
img.display01{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.DocumentsImagesGroup{
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.display{
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p{
  color: #0a4096;
  font-size: 26px;
  text-align: left;
}
ul{
    font-size: 50px;
    text-align: center;
}
footer{
  background-image: url("images/background.jpg");
  font-size: 15px;
  font-family: inherit;
  text-align: center;
}
.navbar{
  margin-left: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-image: url("images/sidebarx.png");
}
.sidenav{

}
li{
  font-size: 20px;
  font-family: cursive;;
}
iframe{
  border-width: 0px;
}
</style>
</head>
