<head>
<style>
h1{
  color: #a30b0b;
  font-size: 40px;
  margin:auto;
}
h2{
  font-size: 36px;
  text-align: center;
}
p{
  color: #0a4096;
  font-size: 26px;
  text-align: left;
}
ul{
    font-size: 50px;
    text-align: center;
}
iframe{
  border-width: 0px;
}
</style>
</head>
